@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');



.fa-lg {
    font-size: 1em;

}

.fa {
    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    top: 12px;
    font-size: 20px;

}


.sidebar:hover, nav.sidebar.expanded {
    width: 250px;
    overflow: hidden;
    opacity: 1;

}

.sidebar {
    isplay: flex;
    min-width: 250px;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.25);
    opacity: 1;

    background-color: #ab9333;

}

.sidebar > ul {
    margin: 7px 0;
    width: 100%;

}

.sidebar li {
    position: relative;
    display: block;

}

.sidebar li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #4d460e;
    font-size: 16px;
    text-decoration: none;
    /*-webkit-transform: translateZ(0) scale(1, 1);*/
    /*-webkit-transition: all .14s linear;*/
    /*transition: all .14s linear;*/
    font-family: 'Oswald', sans-serif;
    border-top: 1px solid #7b7605;

    /*text-shadow: 1px 1px 1px #fff;*/
}


.sidebar .nav-icon {
    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;

}

.sidebar .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 85%;
    font-family: 'Oswald', sans-serif;
}

.sidebar .share {
}


.sidebar .fb-like {

    left: 180px;
    position: absolute;
    top: 15px;
}

.sidebar > ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;

}

.no-touch .scrollable.hover {
    overflow-y: hidden;

}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;

}


/* Logo Hover Property */


/*.settings:hover, settings:focus {*/
/*    background:url( https://s17.postimg.org/74cl7s05b/logo_hover.jpg);*/
/*    -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;*/
/*    -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;*/
/*    -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;*/
/*    transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;*/
/*}*/

/*.settings:active, settings:focus {*/
/*    background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);*/
/*    -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;*/
/*    -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;*/
/*    -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;*/
/*    transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;*/
/*}*/


a:hover, a:focus {
    text-decoration: none;
    border-left: 0px solid #F7F7F7;


}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}


/* Darker element side menu Start*/


.darkerli {
    background-color: #9d8216;
    text-transform: capitalize;
}

.darkerlishadow {
    background-color: #9d8216;
    text-transform: capitalize;
    -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}


.darkerlishadowdown {
    background-color: #838143;
    /*text-transform: capitalize;*/
    /*-webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);*/
    /*-moz-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);*/
    /*box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);*/
}

/* Darker element side menu End*/


.sidebar li:hover > a, nav.sidebar li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #a88f2f;

}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v49/TK3IWkUHHAIjg75cFRf3bXL8LICs13Fv40pKlN4NNSeSASwcEWlSHYjedg.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
