@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

#page-container {
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    height: 6rem;
    background-color: #f8f8f8;
    flex-direction: column;
    justify-content: space-between;
    color: #ffff;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: #136187;
    /*border: 1px solid;*/
    width: 300px;
    height: 100%;
}

.webLogo{
    height: 70px;
}

/*nav {*/
/*    display: flex;*/
/*    justify-content: center;*/

/*}*/

/*ul.nav {*/
/*    padding-left: 0px;*/
/*    text-align: center;*/
/*    padding-right: 20px;*/
/*}*/

/*ul.nav > li {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    cursor: pointer;*/
/*}*/

/*ul.nav > li:hover {*/
/*    background-color: #0b6f80;*/
/*}*/

/*ul.nav > li > a {*/
/*    color: #ffff;*/
/*    text-decoration: none;*/

/*}*/

section {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    border: 1px solid;
    background-color: white;

}

footer {
    display: flex;
    position: absolute;
    width: 250px;
    height: 3rem;
    background-color: #816f27;
    bottom: 0;
    align-items: center;

}

footer > p {
    color: #f8f8f8;
    font-size: 13px;
    padding-left: 37px;

}

.content {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;

}

.content_c {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background-color: #f4f8fb;

}

.content_cc {
    width: 80%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    /*margin: 10px;*/
}


.directory {
    border-bottom: 2px solid #136187;
    min-height: 1.5rem;

}

.main_content {
    /*margin-top: 20px;*/
    height: 100%;
}

.main_content_cc {
    /*border: 3px solid rgba(255, 255, 255, 0.54);*/
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    min-height: 100%;
}

.table, td, th {
    margin: 20px auto;
    border: 1px solid rgba(19, 97, 135, 0.13);
    text-align: center;
    font-size: 16px;
}


th {
    background-color: #ededed;
    color: #777676;
    height: 40px;


}

td {
    height: 30px;
    font-size: 14px;
}

.table {
    width: 97%;
    border-collapse: collapse;
    table-layout: auto;

}

.sub_header {
    display: flex;
    min-height: 40px;
    background-color: #136187;
    align-items: center;
    justify-content: flex-start;
    color: #ededed;

}

.success_insert {
    font-size: 12px;
    color: #e10505;
    /*background-color: #4d460e;*/

}

.sub_header {
    /*background-color: #ededed;*/

}

.btn-edit {
    color: #8f8f00;
    cursor: pointer;
    /*min-width: 40px;*/
    /*margin-left: 2px;*/

    text-decoration: none;


}

.btn-edit:hover {
    color: #707004;
}

.btn-delete {
    color: #f50808;
    cursor: pointer;
    /*padding: 3px 7px;*/
    /*min-width: 60px;*/
    /*margin-left: 2px;*/

    text-decoration: none;


}

.action-td{
    width: 120px;
}

.btn-delete:hover {
    color: #a90707;
}

.btn-warning {
    display: flex;
    color: #ffffff;
    width: 120px;
    height: 40px;
    background-color: #1492c0;
    cursor: pointer;
    text-decoration: none;
    /*margin-top: -10px;*/
    /*height: 100%;*/
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;

}

.btn-warning:hover {
    /*background-color: #11729f;*/
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.6);
    /*color: #dcd4a7;*/
    background-color: #0d7398;

}

.row {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
}

.formField {
    display: block;

}

.inset_label {
    border: 1px solid;
    text-align: center;
    vertical-align: center;

}

.form-control {
    /*display: block;*/
    width: 50%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #659bb0;
    transition: .3s border-color;
}

.form-control:hover {
    border: 1px solid #aaa;
}

.insert_component {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid;
    margin: 0 auto;
}

.dropbtn {
    border: none;
    display: flex;
    color: #ffffff;
    width: 120px;
    height: 40px;
    background-color: #1492c0;
    cursor: pointer;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
    border-left: 3px solid #136187;
    font-size: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dae5ea;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    font-size: 12px;

}

.dropdown-content a {
    /*background-color: #8f8f00;*/
    color: #114362;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #bbd3de;
}

.dropdown-content a:hover {
    background-color: #2c81a1;
    color: #ededed;


}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.6);
    /*color: #dcd4a7;*/
    background-color: #0d7398;
}
.search_form .form-control{
    /*max-width: 172px;*/
    /*max-height: 39px;*/

}
.search_bar{
    margin-top: -20px;
    width: 500px;
    max-height: 40px;
    margin-left: 1px;

    /*border: 2px solid black;*/
}
.search_bar .form-control{
    width: 499px;
    background-color: rgba(241, 241, 243, 0.89);
    height: 40px;
    border: 4px solid #136187;
}

.asset_component{
    display: flex;
    align-items: center;
}
.toggle_div{
    display: flex;
    height: 67px;
    flex-direction: column;
    align-items: flex-start;
    /*border: 1px solid;*/
    justify-content: space-between;
}



/*.isWork_checkbox{*/
/*    !*width: 50px;*!*/
/*    height: 40px;*/
/*    border-radius: 10px;*/
/*    border: 1px solid #9d8216;*/
/*}*/

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

