body {
    margin: 0;
    padding: 0;

}

#page-container {
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    height: 4rem;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    color: #ffff;
}

.logo {
    font-size: 50px;
    color: #000;
}

/*nav {*/
/*    display: flex;*/
/*    justify-content: center;*/

/*}*/

/*ul.nav {*/
/*    padding-left: 0px;*/
/*    text-align: center;*/
/*    padding-right: 20px;*/
/*}*/

/*ul.nav > li {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    cursor: pointer;*/
/*}*/

/*ul.nav > li:hover {*/
/*    background-color: #0b6f80;*/
/*}*/

/*ul.nav > li > a {*/
/*    color: #ffff;*/
/*    text-decoration: none;*/

/*}*/

section {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    border: 1px solid;
    background-color: white;

}

footer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 4rem;
    background-color: #ffffff;
    margin-top: auto;
    bottom: 0;
}

.content {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;

}

.content_c {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background-color: #f4f8fb;

}

.content_cc {
    width: 80%;
    margin: 20px;
    justify-content: center;
    align-items: center;
    /*margin: 10px;*/
}



.directory {
    border-bottom: 2px solid #136187;
    min-height: 1.5rem;

}

.main_content {
    margin-top: 20px;
}



