@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

#page-container {
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    height: 4rem;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    color: #ffff;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: #136187;
    /*border: 1px solid;*/
    width: 300px;
    height: 100%;
}

/*nav {*/
/*    display: flex;*/
/*    justify-content: center;*/

/*}*/

/*ul.nav {*/
/*    padding-left: 0px;*/
/*    text-align: center;*/
/*    padding-right: 20px;*/
/*}*/

/*ul.nav > li {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    cursor: pointer;*/
/*}*/

/*ul.nav > li:hover {*/
/*    background-color: #0b6f80;*/
/*}*/

/*ul.nav > li > a {*/
/*    color: #ffff;*/
/*    text-decoration: none;*/

/*}*/

section {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    border: 1px solid;
    background-color: white;

}

footer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 4rem;
    background-color: #0a3246;
    margin-top: auto;
    bottom: 0;
}

footer > p {
    color: #659dbb;
    margin: auto;
}

.content {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;

}

.content_c {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background-color: #f4f8fb;

}

.content_cc {
    width: 80%;
    margin: 20px;
    justify-content: center;
    align-items: center;
    /*margin: 10px;*/
}


.directory {
    border-bottom: 2px solid #136187;
    min-height: 1.5rem;

}

.main_content {
    margin-top: 20px;
    height: 100%;
}

.main_content_cc {
    /*border: 3px solid rgba(255, 255, 255, 0.54);*/
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    min-height: 100%;
}

.table, td, th {
    margin: 20px auto;
    border: 1px solid rgba(19, 97, 135, 0.13);
    text-align: center;
    font-size: 16px;
}


th {
    background-color: #ededed;
    color: #777676;
    height: 40px;


}

td {
    height: 30px;
    font-size: 14px;
}

.table {
    width: 97%;
    border-collapse: collapse;
    table-layout: auto;

}

.sub_header {
    display: flex;
    min-height: 40px;
    background-color: #136187;
    align-items: center;
    justify-content: center;
    color: #ededed;

}

.success_insert {
    font-size: 50px;
    color: #0b9305;
    background-color: #4d460e;

}

.sub_header {
    /*background-color: #ededed;*/

}

.btn-warning {
    background-color: #0d4d6b;
    /*border: 2px solid #0d4d6b;*/
    color: white;
    cursor: pointer;
    padding: 9px 15px;
    min-width: 100px;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
}

.btn-warning:hover {
    background-color: #11729f;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.row {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
}

.formField {
    display: block;

}

.inset_label {
    border: 1px solid;
    text-align: center;
    vertical-align: center;

}

.form-control {
    /*display: block;*/
    width: 50%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #659bb0;
    transition: .3s border-color;
}

.form-control:hover {
    border: 1px solid #aaa;
}

.insert_component {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid;
    margin: 0 auto;
}




